<div class="row" style="height:100px; ">
  <div class="col-lg-12 ">
    <div class="card">
        <div class="card-body">
            <!--**************************Legend Start*****************************-->
            <div class="col-md-12" kendoTooltip position="bottom">
                <div class="row py-3 ">
                    <div class="col-md-8">

                        <!-- Displaying all the appointments -->
                        <div class="row ">
                            <div class="un-Legend">
                                <span class="AwaitingConfirmationIcon">
                                </span>
                                <span class="font-11">{{'AppointmentModule.AppointmentAwaitingConfirmation'|translate}}</span>
                            </div>
                            <div class="un-Legend">
                                <span class="AppointmentConfirmedIcon">
                                </span>
                                <span class="font-11">{{'AppointmentModule.AppointmentConfirmed'|translate}}</span>
                            </div>
                            <div class="un-Legend">
                                <span class="AppointmentHonouredIcon">
                                </span>
                                <span class="font-11">{{'AppointmentModule.AppointmentHonoured'|translate}}</span>
                            </div>
                            <div class="un-Legend">
                                <span class="CallNotReachableIcon">
                                </span>
                                <span class="font-11">
                                    {{'AppointmentModule.CallNotReachable'|translate}}
                                </span>
                            </div>
                            <div class="un-Legend">
                                <span class="AppointmentCancelledIcon">
                                </span>
                                <span class="font-11">{{'AppointmentModule.AppointmentCancelled'|translate}}</span>
                            </div>
                            <div class="un-Legend">
                                <span class="YetToConfirmIcon">
                                </span>
                                <span class="font-11">{{'AppointmentModule.YetToConfirm'|translate}}</span>
                            </div>
                            <div class="un-Legend">
                                <span class="NoShowIcon">
                                </span>
                                <span class="font-11">{{'AppointmentModule.NoShow'|translate}}</span>
                            </div>
                        </div>

                        <!-- Displaying appointments ends here -->
                    </div>

                    <!-- Cancel appointment button -->

                    <div class="col-md-4 text-right px-0">
                        <button kendoButton class="btn btn-linear mr-2 un-color_white " (click)="showAppointmentReport()">{{'CommonModule.Print'| translate}}</button>
                        <label class="lato-Bold font-12 un-valign-sub mb-0 pr-2" for="ShowCancelApppointment_id">
                            {{
                'AppointmentModule.ShowCancelledAppointment'|translate
                            }}
                        </label>
                        <input [disabled]="schedulerLoading" type="checkbox" id="ShowCancelApppointment_id" class="k-checkbox" [(ngModel)]="showCancelVisit" (ngModelChange)="showCancelVisitChange()">
                        <label class="k-checkbox-label lato-Bold font-12" for="ShowCancelApppointment_id"></label>
                    </div>

                    <!-- Cancel appointment ends -->

                </div>
            </div>


            <!--**************************Legend End*****************************-->
            <div class="col-md-12 pt-1 px-0 un-scheduler-multiselect" [hidden]="!expandAdvancedSearchPanel">

                <!-- Filters starts here -->
                <div class="row">
                    <div class="col-md-6">
                        <app-combined-search [isClinic]="false" [isSpeciality]="false" [isDoctor]="true" [isDepartment]="true" [isAppointment]="true" [DoctorId]="doctorId" [DepartmentId]="departmentId" [multiSelectDoctorValue]="multiSelectDoctorValue" [disableField]="isDataLoading || IsDoctorLogin" (childMultiDoctorValue)=" onDoctorChange($event)" (childDepartmentValue)="departmentChange($event)"></app-combined-search>

                    </div>
                    <div class="col-md-3 ">
                        <kendo-multiselect class="'k-state-focused'" [disabled]="isDataLoading" [data]="appointmentTypeList" [textField]="'Value1'" [valueField]="'Value1'" (valueChange)="onAppointmentTypeChange($event)"
                                           [placeholder]="'AppointmentModule.AppointmentType'|translate" [filterable]="true"
                                           (filterChange)="appointmentTypeFilterChange($event)" [(ngModel)]="appointmentType" [autoClose]="false"></kendo-multiselect>
                    </div>
                    <div class="col-md-3 ">
                        <!--Start MultiSelect-->
                        <kendo-multiselect [disabled]="isDataLoading" [data]="appointmentMultislectStatusList" [textField]="'Value2'" [valueField]="'Value1'" (valueChange)="onAppointmentStatusChange($event)"
                                           [placeholder]="'AppointmentModule.AppointmentStatus'|translate" [filterable]="true"
                                           (filterChange)="appointmentStatusFilterChangeMultiselect($event)" [(ngModel)]="appointmentStatus" [autoClose]="false"></kendo-multiselect>
                        <!--End MultiSelect-->
                    </div>
                </div>

                <!-- Filters Ends here -->
            </div>
            <div class="un-borderimg-Mask">
                <!--Start of Search Box-->
                <div class="col-md-12 borderimg text-centet-bro ">
                    <div class="bottomicon un-pointer wow fadeInUp" (click)="advancedSearchToggle()">
                        <div class="un-pointer Iconbase {{searchToggleButtonName}} "></div>
                    </div>
                </div>
                <!--End of Search Box-->
            </div>

            <!-- Listing all the slots -->
            <div>
                <!--Start Display the Appointment Slots-->
                <kendo-scheduler [kendoSchedulerBinding]="events"
                                 [selectedDate]="selectedDate"
                                 [group]="group"
                                 [resources]="resources"
                                 [editable]="true"
                                 [slotDuration]="appSlotDuration"
                                 [slotDivisions]="3"
                                 [slotClass]="getSlotClass"
                                 isDefaultPrevented="true"
                                 startTime="06:00"
                                 endTime="24:00"
                                 workDayStart="08:00"
                                 workDayEnd="23:00"
                                 workWeekStart="0"
                                 workWeekEnd="6"
                                 currentTimeMarker="true"
                                 draggable="true"
                                 [scrollTime]="scrollTime"
                                 (slotDblClick)="slotDblClickHandler($event)"
                                 (eventDblClick)="rescheduleAppointment($event)"
                                 (dragEnd)="dragAppointment($event)"
                                 (resizeEnd)="eventResizeEndHandler($event)"
                                 (dateChange)="appointmentDateChange($event)"
                                 (viewChange)="schedulerViewChange($event)"
                                 [style.height.px]="screenHeight"
                                 id="schedulercontrol"
                                 showWorkHours="true"
                                 [loading]="isDataLoading" #scheduler>

                    <ng-template kendoSchedulerDateHeaderTemplate let-date="date">
                        <strong>{{ date | defaultDate }}</strong>
                    </ng-template>
                    <ng-template kendoSchedulerGroupHeaderTemplate let-resource="resource">
                        <div *ngIf="showUserInfo">
                            <div>
                                <div class="text-center">
                                    <img [src]="resource.image" width="75" height="75" />
                                </div>
                            </div>
                            <div>
                                <div class="text-center">
                                    <div [style.color]="black">{{ resource.text }}</div>
                                    <div>{{resource.speciality}}</div>
                                    <span style="color:forestgreen;">Insurance:{{ resource.insurance}}</span>,<span style="color:red;"> Cash:{{ resource.cash }}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!showUserInfo">
                            <div class="text-center">
                                <div [style.color]="black">{{ resource.text }}</div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template kendoSchedulerToolbarTemplate>
                        <ul kendoSchedulerToolbarNavigation style="display: contents;"></ul>
                        <ul class="k-scheduler-navigation  k-reset" kendoTooltip position="bottom">
                            <li class="k-state-default k-nav-current">
                                <button kendoButton class="un-nobtn mx-1 {{showCamera}}" (click)="showUserMoreInfo()" [disabled]="isDataLoading || IsDoctorLogin" title="{{showCameraText |translate}}"></button>
                                <button kendoButton class="un-RefreshIcon un-nobtn mx-1" (click)="refreshAppointmentQueue()" [disabled]="isDataLoading" title="{{'CommonModule.Refresh'|translate}}"></button>
                                <button kendoButton class="un-CurrentTimeIcon un-nobtn mx-1" (click)="scrollToCurrentTime()" [disabled]="isDataLoading || !enableCurrentTime" title="{{'CommonModule.CurrentTime'|translate}}"></button>
                                <button kendoButton class="un-nobtn mx-1 {{showAppointment}}" (click)="expandAndShrink()" [disabled]="isDataLoading" title="{{shrinkButtonTilte|translate}}"></button>
                                <button kendoButton class="un-SettingIcon un-nobtn mx-1" (click)="showAppointmentSetting()" [disabled]="isDataLoading" title="{{'CommonModule.Setting'|translate}}"></button>

                            </li>
                        </ul>
                        <ul class="k-scheduler-navigation  k-reset un-dcontents" kendoTooltip position="bottom">
                            <li class="k-state-default k-nav-current">
                                <button kendoButton class="un-Previous un-nobtn mx-1" (click)="previousButtonClick()" [disabled]="isDataLoading" title="{{'PatientRegisterModule.Previous'|translate}}" [hidden]="!showPrevious"></button>
                                <button kendoButton class="un-nextIcon un-nobtn mx-1" (click)="nextButtonClick()" [disabled]="isDataLoading" title="{{'PatientRegisterModule.Next'|translate}}" [hidden]="!showNext"></button>
                            </li>
                        </ul>
                        <ul kendoSchedulerToolbarViewSelector></ul>
                    </ng-template>
                    <!--<div class="un-schedulerTemp"> </div>-->
                    <ng-template kendoSchedulerEventTemplate let-event="event">
                        <div [ngClass]="event.description" id="infoButton{{event.dataItem.dataItem.AppointmentId}}" class="" style="color:black;" (click)="eventClick($event,event)">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div *ngIf="!isShrink">
                                            {{event.title | titlecase}}
                                        </div>
                                        <div *ngIf="isShrink">
                                            <span *ngIf="shrinkDisplaytext=='NAME'">{{event.dataItem.dataItem.PatientFirstName | titlecase}}</span>
                                            <span *ngIf="shrinkDisplaytext=='MOBILENUMBER'">{{event.dataItem.dataItem.PatientMobile}}</span>
                                            <span *ngIf="shrinkDisplaytext=='PIN'">{{event.dataItem.dataItem.PatientPin}}</span>
                                            <span *ngIf="genderEnable"> / {{event.dataItem.dataItem.PatientGender | titlecase}}</span>
                                        </div>
                                        <div *ngIf="!isShrink && event.dataItem.dataItem.PatientPin!=0">
                                            {{event.dataItem.dataItem.PatientFirstName | titlecase}}
                                        </div>
                                    </div>
                                    <div class="col-md-1 text-right un-AppointmentInfo-more ">
                                        <div class="">
                                            <div>
                                                <button *ngIf="event.dataItem.dataItem.AppointmentType==='PATIENT'&& event.dataItem.dataItem.StatusShort!=='CVI'&& event.dataItem.dataItem.StatusShort!=='APH' && event.dataItem.dataItem.StatusShort!=='NSW' && (event.dataItem.dataItem.AppointmentTime | defaultDate)==(currentDate | defaultDate)" kendoButton class="un-rightarrow un-nobtn position-absolute" (click)="addToQueue(event,false)" [disabled]="!enableAddToQueue" title="{{'QueueModule.AddToQueue'|translate}}"></button>
                                            </div>
                                            <br />
                                            <div>
                                                <button id="statusButton{{event.dataItem.dataItem.AppointmentId}}" #anchor [hidden]="event.dataItem.dataItem.StatusShort=='CVI'||event.dataItem.dataItem.StatusShort=='APH' || event.dataItem.dataItem.StatusShort=='NSW'" class="un-ellipsisIcon un-nobtn position-absolute un-pointer" #target (click)="moreAction(event)" title="{{'QueueModule.MoreAction'|translate}}"></button>

                                                <!--<kendo-contextmenu [target]="target" [items]="items" showOn="click" [kendoMenuHierarchyBinding]="statusList"
                                                           [textField]="'Value3'" (select)="onSelectStatus($event,event)">
                                        </kendo-contextmenu>-->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <kendo-scheduler-day-view>
                    </kendo-scheduler-day-view>
                    <kendo-scheduler-week-view>
                    </kendo-scheduler-week-view>
                    <kendo-scheduler-month-view>
                    </kendo-scheduler-month-view>
                </kendo-scheduler>
                <!--End Of Appointment Slots-->
            </div>

            <!-- List of slots ends here -->


            <!-- Add Events starts here -->

            <kendo-dialog title="" [width]="900" *ngIf="showAddEventDialog">
                <kendo-dialog-titlebar class="un-dialoge-closebtn" (close)="addAppointmentClose()"></kendo-dialog-titlebar>
                <!--Add Appointment starts here-->
                <div [style.height.px]="AppointmentBookingHeight">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="lato-Bold font-14  col-md-9">
                                {{'AppointmentModule.AppointmentBooking'|translate}} - {{selectedResource}}, {{selectedResourceSpeciality}} - {{appointmentStartDate | defaultDateTime}}
                            </div>
                            <div class="col-md-3 pr-0 text-right">
                                <button kendoButton class="btn btn-primary lato-Bold un-color_white font-11" [disabled]="!enableSaveButton" (click)="saveAppointment()">{{'CommonModule.Save'|translate}}</button>
                                <!--<button kendoButton class="btn btn-primary lato-Bold un-color_white font-11" (click)="cancelAppointment()">{{'CommonModule.Cancel'|translate}}</button>-->
                                <button kendoButton class="btn btn-light lato-Bold un-color_white font-11" (click)="clearAppointment()">{{'CommonModule.Clear'|translate}}</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 pr-0">
                                <span class="pr-2">{{'QueueModule.NewPatient'|translate}}</span>
                                <kendo-switch [(ngModel)]="showNewPatient" onLabel="{{'CommonModule.YesAction'|translate}}" offLabel="{{'CommonModule.NoAction'|translate}}" (click)="showNewPatientChange()"></kendo-switch>
                            </div>
                            <div class="col-md-8 pr-0" *ngIf="!showNewPatient">
                                <app-common-patient-search [userData]="patientSerachParamsValue" (selectedPatientDetails)="patientSearchreturnValue($event)" #patientSearch></app-common-patient-search>
                            </div>
                            <div class="col-md-4 pr-0" *ngIf="showNewPatient">
                                <div class="lato-Bold pl-2 pt-2 pb-1">
                                    {{'CommonModule.MobileNumber'|translate}}
                                </div>
                                <input kendoTextBox [(ngModel)]="patientMobileNumber" placeholder="{{'CommonModule.MobileNumber'|translate}}" [maxLength]="mobileNumberLength" (keydown)="restrictOnlyNumbers($event)" />
                            </div>
                            <div class="col-md-4 pr-0" *ngIf="showNewPatient">
                                <div class="lato-Bold pl-2 pt-2 pb-1">
                                    {{'CommonModule.PatientName'|translate}}
                                </div>
                                <input kendoTextBox [(ngModel)]="patientName" placeholder="{{'CommonModule.PatientName'|translate}}" (keydown)="restrictOnlyAlphabets($event)" [maxLength]="200" />
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 col-md-12 pr-0" *ngIf="patientInfoList">
                        <!--<app-common-patient-banner [PatientBannerConfiguration]="patientBannerConfiguration" (PatientOverDueRemittanceInfoList)="onShowRemittanceDetails($event)"></app-common-patient-banner>-->
                        <app-common-simple-patient-banner [showVisitDetailIcon]="'true'" [patientPin]="patientBannerConfiguration.PatientPin"></app-common-simple-patient-banner>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 pr-0">
                                <div class="lato-Bold pl-2 pt-2 pb-1">
                                    {{'AppointmentModule.RequestedBy'|translate}}
                                </div>
                                <input kendoTextBox [(ngModel)]="requestedBy" placeholder="{{'AppointmentModule.RequestedBy'|translate}}" (keydown)="restrictOnlyAlphabets($event)" [maxLength]="100" />
                            </div>
                            <div class="col-md-4 pr-0">
                                <div class="lato-Bold pl-2 pt-2 pb-1">
                                    {{'AppointmentModule.AppointmentType'|translate}}
                                </div>
                                <kendo-combobox [popupSettings]="{popupClass: 'custom'}" [data]="eventAppointmentTypeList" [clearButton]="false" [textField]="'Value1'" [valueField]="'Value1'" (valueChange)="onEventCreationAppointmentTypeChange($event)"
                                                [placeholder]="'AppointmentModule.AppointmentType'|translate" [filterable]="true"
                                                (filterChange)="onEventCreationAppointmentTypeFilterChange($event)" [(ngModel)]="selectedAppointmentType"></kendo-combobox>
                            </div>
                            <div class="col-md-4 pr-0">
                                <div class="lato-Bold pl-2 pt-2 pb-1">
                                    {{'CommonModule.Duration'|translate}}
                                </div>
                                <div class="row">
                                    <div class="col-md-5 pr-0">
                                        <input kendoTextBox [(ngModel)]="durationHour" class="text-right" placeholder="{{'AppointmentModule.Hour'|translate}}" (keydown)="restrictOnlyNumbers($event)" />
                                    </div> <div class="col-md-1">:</div>
                                    <div class="col-md-5 pr-0">
                                        <input kendoTextBox [(ngModel)]="durationMinute" class="text-right" placeholder="{{'AppointmentModule.Minute'|translate}}" (keydown)="restrictOnlyNumbers($event)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 pt-3 pr-0" *ngIf="showProcedureList">
                        <label class="mr-2">{{'AppointmentModule.Items'|translate}}</label>
                        <kendo-multiselect [data]="procedureList"
                                           [loading]="loadingProcedure" [(ngModel)]="appointmentProcedureList" [filterable]="true"
                                           [clearButton]="false" textField="SHORT_DESC" valueField="INT_CODE"
                                           (filterChange)="procedureFilterChange($event)" [autoClose]="false" (valueChange)="onProcedureChange($event)" (removeTag)="onRemoveProcedure($event)">
                            <ng-template kendoMultiSelectItemTemplate let-dataItem>
                                <div>
                                    <span *ngIf="dataItem.CPT_CODE">{{dataItem.CPT_CODE}} - </span>
                                    {{dataItem.SHORT_DESC}}
                                </div>
                            </ng-template>
                            <ng-template kendoMultiSelectTagTemplate let-dataItem>
                                <!--dataItem.ItemBgColor-->
                                <div>
                                    <span *ngIf="dataItem.CPT_CODE">{{dataItem.CPT_CODE}} - </span>
                                    {{dataItem.SHORT_DESC}}
                                </div>
                            </ng-template>
                            <ng-template kendoMultiSelectNoDataTemplate>
                                {{searchStatus | translate}}
                            </ng-template>
                        </kendo-multiselect>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div for="customer_text" class=" lato-Bold pt-3 pb-2">
                                    {{'CommonModule.Remarks'|translate}}
                                </div>
                                <textarea rows="5" kendoTextArea class="mb-sm" [(ngModel)]="appointmentRemarks" placeholder="{{'CommonComponentModule.AddNotesviewableByStaffOnly'|translate}}" [maxLength]="1000"></textarea>
                                <div class="pull-right remarks_right" id="count_message1"></div>
                            </div>
                            <div class="col-md-4 pr-0">
                                <br />
                                <div class="col-md-12 pr-0">
                                    <div class="lato-Bold pl-1 pt-1 pb-1">
                                        <label class="lato-Bold font-12 un-valign-sub mb-0 pr-2" for="sendSMS_id">{{'AppointmentModule.SendSMS'|translate}}</label>
                                        <input type="checkbox" id="sendSMS_id" class="k-checkbox" [(ngModel)]="sendSms">
                                        <label class="k-checkbox-label lato-Bold font-12" for="sendSMS_id"></label>
                                    </div>
                                </div>
                                <input kendoTextBox [(ngModel)]="smsNumber" placeholder="{{'AppointmentModule.SMS'|translate}}" [maxLength]="60" (keydown)="restrictOnlyNumbers($event)" />
                                <br />
                                <div class="col-md-12 pr-0">
                                    <div class="lato-Bold pl-1 pt-1 pb-1">
                                        <label class="lato-Bold font-12 un-valign-sub mb-0 pr-2" for="sendEmail_id">{{'AppointmentModule.SendEmail'|translate}}</label>
                                        <input [disabled]="schedulerLoading" type="checkbox" id="sendEmail_id" class="k-checkbox" [(ngModel)]="sendEmail">
                                        <label class="k-checkbox-label lato-Bold font-12" for="sendEmail_id"></label>
                                    </div>
                                </div>
                                <input kendoTextBox [(ngModel)]="email" placeholder="{{'AppointmentModule.Mail'|translate}}" [maxLength]="60" />
                            </div>
                        </div>
                    </div>
                    <div *ngIf="validationMessage.length>0" class="alert alert-danger col-md-12 px-0 mt-3 ">
                        <strong class="p-3">{{validationMessage|translate}}</strong>
                    </div>
                    <div class="lato-Web font-12" *ngIf="patientOverdueRemittance">
                        <kendo-grid class="un-grid-headet-trans un_padding_grid un-border-width font-12" [height]="200" [data]="patientOverdueRemittance">
                            <kendo-grid-column class="un-right-borderRound un-leftborder-width" field="VisitCheckInDateTime" title="{{'CommonComponentModule.VisitDate'|translate}}" width="150">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <div>{{dataItem.VisitCheckInDateTime  | defaultDate}}</div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="InvDisplayNumber" title="{{'CommonModule.PriceGroup'|translate}} " width="200"></kendo-grid-column>
                            <kendo-grid-column field="InvTotalAmount" title="{{'CommonModule.InvoiceAmount'|translate}}" width="100"></kendo-grid-column>

                            <kendo-grid-column field="ReceivedAmt" title="{{'CommonModule.ReceivedAmount'|translate}}" width="100"></kendo-grid-column>
                            <kendo-grid-column field="InvOverdueAmount" title="{{'CommonModule.PendingAmount'|translate}}" width="100" class="un-rightborder-width">

                            </kendo-grid-column>
                            <kendo-grid-column field="DoctorFirstName" title="{{'CommonModule.DoctorName'|translate}}" width="100"></kendo-grid-column>
                            <kendo-grid-column field="InvType" title="{{'CommonComponentModule.InoviceType'|translate}}" width="100" class="un-rightborder-width">
                            </kendo-grid-column>
                        </kendo-grid>
                    </div>
                    <div *ngIf="patientInfoList" class="pt-2">
                        <app-common-patient-visit-log [patientVisitLogData]="patientVisitLogParams"></app-common-patient-visit-log>
                    </div>
                </div>
                <!--Add Appointment ends here-->
            </kendo-dialog>
            <!--Add Events ends here-->

            <!--Rescheduling dialog box-->

            <kendo-dialog title="" [width]="900" *ngIf="showRecheduleDialog">
                <kendo-dialog-titlebar class="un-dialoge-closebtn" (close)="rescheduleAppointmentClose()"></kendo-dialog-titlebar>
                <div [style.height.px]="AppointmentBookingHeight">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="lato-Bold font-14 col-md-8">
                                {{'AppointmentModule.RescheduleAppointment'|translate}} - {{appointmentStartDate | defaultDateTime}}
                            </div>
                            <div class="text-right col-md-4 pr-0">
                                <button kendoButton class="btn btn-primary lato-Bold un-color_white font-11" [disabled]="!rescheduleSaveButton" (click)="saveRescheduleAppointment()">{{'CommonModule.Save'|translate}}</button>
                                <!--<button kendoButton class="btn btn-light lato-Bold un-color_white font-11" (click)="rescheduleAppointmentClose()">{{'CommonModule.Cancel'|translate}}</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 col-md-12 pr-0" *ngIf="patientInfoList">
                        <!--<app-common-patient-banner [PatientBannerConfiguration]="patientBannerConfiguration" (PatientOverDueRemittanceInfoList)="onShowRemittanceDetails($event)"></app-common-patient-banner>-->
                        <app-common-simple-patient-banner [showVisitDetailIcon]="'true'" [patientPin]="patientBannerConfiguration.PatientPin"></app-common-simple-patient-banner>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 pr-0">
                                <div class="lato-Bold pl-2 pt-2 pb-1">
                                    {{'CommonModule.Doctor'|translate}}
                                </div>
                                <div class="col-md-12 px-0">
                                    <app-combined-search [isClinic]="false" [isSpeciality]="false" [isDoctor]="true" [isDepartment]="false" [DoctorId]="doctorId" [DepartmentId]="departmentId" (childDoctorValue)=" onRescheduleDoctorChange($event)" [disableField]="IsDoctorLogin"></app-combined-search>
                                    <!--<app-common-doctor [currentDoctorId]="doctorId" [departmentId]="departmentId" (selectedDoctorValue)=" onDoctorChange($event)"></app-common-doctor>-->
                                </div>
                            </div>
                            <div class="col-md-4 pr-0">
                                <div class="lato-Bold pl-2 pt-2 pb-1">
                                    {{'CommonModule.Duration'|translate}}
                                </div>
                                <div class="row">
                                    <div class="col-md-5 pr-0">
                                        <input kendoTextBox [(ngModel)]="durationHour" class="text-right" placeholder="{{'AppointmentModule.Hour'|translate}}" (keydown)="restrictOnlyNumbers($event)" />
                                    </div> <div class="col-md-1">:</div>
                                    <div class="col-md-5 pl-0">
                                        <input kendoTextBox [(ngModel)]="durationMinute" class="text-right" placeholder="{{'AppointmentModule.Minute'|translate}}" (keydown)="restrictOnlyNumbers($event)" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pr-0">
                                <div class="lato-Bold pl-2 pt-2 pb-1">
                                    {{'AppointmentModule.DateAndTime'|translate}}
                                </div>
                                <div class="row">
                                    <div class="col-md-5 pr-0 appredate">
                                        <kendo-datepicker [format]="'dd/MM/yyyy'" [(value)]="appointmentDateTime" [min]="currentDate" [formatPlaceholder]="{ year: 'yyyy', month: 'mm', day: 'dd' }"></kendo-datepicker>
                                    </div><div class="col-md-1 un-right-1">
                                        :
                                    </div>
                                    <div class="col-md-5 pr-0">
                                        <kendo-timepicker [format]="'hh:mm a'" [popupSettings]="{popupClass: 'apptimepopup'}" [(ngModel)]="appointmentDateTime" [min]="(appointmentDateTime|defaultDate)==(currentDate|defaultDate)?currentDate:''">
                                        </kendo-timepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12  pr-0 pt-3" *ngIf="!patientInfoList">
                        <div class="row">
                            <div class="col-md-4 pr-0">
                                <div class="lato-Bold pl-2 pb-1">
                                    {{'CommonModule.MobileNumber'|translate}}
                                </div>
                                <input kendoTextBox [(ngModel)]="patientMobileNumber" [disabled]="true" [maxLength]="120" placeholder="{{'CommonModule.MobileNumber'|translate}}" />
                            </div>
                            <div class="col-md-4 pr-0">
                                <div class="lato-Bold pl-2 pb-1">
                                    {{'CommonModule.PatientName'|translate}}
                                </div>
                                <input kendoTextBox [(ngModel)]="patientName" [disabled]="true" [maxLength]="200" placeholder="{{'CommonModule.PatientName'|translate}}" />
                            </div>
                            <div class="col-md-4 pr-0">
                                <div class="lato-Bold pl-2 pb-1">
                                    {{'QueueModule.PIN'|translate}}
                                </div>
                                <input kendoTextBox [(ngModel)]="patientPin" [disabled]="true" placeholder="{{'QueueModule.PIN'|translate}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 pr-0 pt-3" *ngIf="showProcedureList">
                        <label class="mr-2">{{'AppointmentModule.Items'|translate}}</label>
                        <kendo-multiselect *ngIf="showProcedureList" [data]="procedureList"
                                           [loading]="loadingProcedure" [value]="appointmentProcedureList" [filterable]="true"
                                           [clearButton]="false" textField="SHORT_DESC" valueField="INT_CODE"
                                           (filterChange)="procedureFilterChange($event)" [autoClose]="false" (valueChange)="onProcedureChange($event)" (removeTag)="onRemoveProcedure($event)">
                            <ng-template kendoMultiSelectItemTemplate let-dataItem>
                                <div>
                                    <span *ngIf="dataItem.CPT_CODE">{{dataItem.CPT_CODE}} - </span>
                                    {{dataItem.SHORT_DESC}}
                                </div>
                            </ng-template>
                            <ng-template kendoMultiSelectTagTemplate let-dataItem>
                                <!--dataItem.ItemBgColor-->
                                <div>
                                    <span *ngIf="dataItem.CPT_CODE">{{dataItem.CPT_CODE}} - </span>
                                    {{dataItem.SHORT_DESC}}
                                </div>
                            </ng-template>
                            <ng-template kendoMultiSelectNoDataTemplate>
                                {{searchStatus | translate}}
                            </ng-template>
                        </kendo-multiselect>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div for="customer_text" class=" lato-Bold pt-3 pb-2">
                                    {{'CommonModule.Remarks'|translate}}
                                </div>
                                <textarea kendoTextArea rows="5" class="mb-sm" [(ngModel)]="appointmentRemarks" placeholder="{{'CommonComponentModule.AddNotesviewableByStaffOnly'|translate}}" [maxLength]="1000"></textarea>
                                <div class="pull-right remarks_right" id="count_message1"></div>
                            </div>
                            <div class="col-md-4 pr-0 pt-3">
                                <div class="lato-Bold pl-1 pt-1 pb-1">
                                    <span>{{'AppointmentModule.AppointmentStatus'|translate}}</span>
                                </div>
                                <kendo-combobox [popupSettings]="{popupClass: 'custom'}" [data]="appointmentStatusList" [clearButton]="false" [textField]="'Value2'" [valueField]="'Value1'"
                                                [placeholder]="'AppointmentModule.AppointmentStatus'|translate" [filterable]="true"
                                                (filterChange)="appointmentStatusFilterChange($event)" [(ngModel)]="rescheduleAppointmentStatus" [valuePrimitive]="true"></kendo-combobox>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="validationMessage.length>0" class="alert alert-danger col-md-12 px-0 mt-3 ">
                        <strong class="p-3">{{validationMessage|translate}}</strong>
                    </div>
                    <div class="lato-Web font-12" *ngIf="patientOverdueRemittance">
                        <kendo-grid class="un-grid-headet-trans un_padding_grid un-border-width font-12" [height]="200" [data]="patientOverdueRemittance">
                            <kendo-grid-column class="un-right-borderRound un-leftborder-width" field="VisitCheckInDateTime" title="{{'CommonComponentModule.VisitDate'|translate}}" width="150">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <div>{{dataItem.VisitCheckInDateTime  | defaultDate}}</div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="InvDisplayNumber" title="{{'CommonModule.PriceGroup'|translate}} " width="200"></kendo-grid-column>
                            <kendo-grid-column field="InvTotalAmount" title="{{'CommonModule.InvoiceAmount'|translate}}" width="100"></kendo-grid-column>

                            <kendo-grid-column field="ReceivedAmt" title="{{'CommonModule.ReceivedAmount'|translate}}" width="100"></kendo-grid-column>
                            <kendo-grid-column field="InvOverdueAmount" title="{{'CommonModule.PendingAmount'|translate}}" width="100" class="un-rightborder-width">

                            </kendo-grid-column>
                            <kendo-grid-column field="DoctorFirstName" title="{{'CommonModule.DoctorName'|translate}}" width="100"></kendo-grid-column>
                            <kendo-grid-column field="InvType" title="{{'CommonComponentModule.InoviceType'|translate}}" width="100" class="un-rightborder-width">
                            </kendo-grid-column>
                        </kendo-grid>
                    </div>
                    <div *ngIf="patientInfoList" class="pt-2">
                        <app-common-patient-visit-log [patientVisitLogData]="patientVisitLogParams"></app-common-patient-visit-log>
                    </div>
                </div>


            </kendo-dialog>

            <!--End showRecheduleDialog-->

            <!--Appointment settings start here-->
            <kendo-dialog title="" [width]="600" *ngIf="showSettingPopup">
                <kendo-dialog-titlebar class="un-dialoge-closebtn" (close)="closeAppointmentSettingDialog()"></kendo-dialog-titlebar>
                <div class="col-md-12">
                    <div class="row">
                        <div class="lato-Bold font-14 col-md-8">
                            {{'AppointmentModule.SchedulerSetting'|translate}}
                        </div>
                        <div class="text-right col-md-4 pr-0">
                            <button kendoButton class="btn btn-primary lato-Bold un-color_white font-11" (click)="saveAppointmentSetting()">{{'CommonModule.Save'|translate}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 pr-0">
                            <div class="lato-Bold pl-2 pt-2 pb-1">
                                {{'AppointmentModule.HourView'|translate}}
                            </div>
                            <div class="pl-2 pt-2 pb-1">
                                {{'AppointmentModule.SubIntervals'|translate}}
                            </div>
                            <div>
                                <input kendoTextBox [(ngModel)]="subIntervalsSetting" class="text-left" placeholder="{{'AppointmentModule.SubIntervalPlaceholder'|translate}}" (keydown)="restrictOnlyNumbers($event)" />
                            </div>
                        </div>
                        <div class="col-md-6 pr-0">
                            <div class="lato-Bold pl-2 pt-2 pb-1">
                                {{'AppointmentModule.CalendarDisplay'|translate}}
                            </div>
                            <div class="pl-2 pt-2 pb-1">
                                {{'AppointmentModule.NumberOfResources'|translate}}
                            </div>
                            <div>
                                <input kendoTextBox [(ngModel)]="noOfResourcePerPage" class="text-left" placeholder="{{'AppointmentModule.NoOfResourcePlaceHolder'|translate}}" (keydown)="restrictOnlyNumbers($event)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pt-3">
                    <div class="col-md-12 pr-0">
                        <div class="lato-Bold un-ml-3 pt-1 pb-1">
                            {{'AppointmentModule.DataToDisplay'|translate}}
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div>
                                        <input type="radio" id="PatientNameID" class="k-radio" value="NAME" name="DisplayText" [(ngModel)]="shrinkDisplaytext" style="vertical-align: -2px;">
                                        <label class="k-radio-label pr-1" for="PatientNameID"> {{'CommonModule.PatientName'|translate}} </label>
                                    </div>
                                    <div>
                                        <input type="radio" id="PINID" class="k-radio" value="PIN" name="DisplayText" [(ngModel)]="shrinkDisplaytext" style="vertical-align: -2px;">
                                        <label class="k-radio-label pr-1" for="PINID"> {{'CommonModule.PIN'|translate}} </label>
                                    </div>
                                    <div>
                                        <input type="radio" id="MobileNumberID" class="k-radio" value="MOBILENUMBER" name="DisplayText" [(ngModel)]="shrinkDisplaytext" style="vertical-align: -2px;">
                                        <label class="k-radio-label pr-1" for="MobileNumberID"> {{'CommonModule.MobileNumber'|translate}} </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 pr-0 text-right">
                                <label class="lato-Bold font-12 un-valign-sub mb-0 pr-2" for="showGender_id">{{'CommonModule.Gender'|translate}}</label>
                                <input type="checkbox" id="showGender_id" class="k-checkbox" [(ngModel)]="genderEnable">
                                <label class="k-checkbox-label lato-Bold font-12" for="showGender_id"></label>

                            </div>
                            <div *ngIf="appointmentSettingErrorText.length>0" class="alert alert-danger col-md-12 px-0 mt-3 ">
                                <strong class="p-3">{{appointmentSettingErrorText|translate}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </kendo-dialog>
            <!--Appointment settings ends here-->
            <div class="un-noborder ">
                <div class="un-popupzindex ">
                    <!--More Action starts here-->
                    <kendo-popup *ngIf="showAppointmentInfo" (anchorViewportLeave)="popupclose()" id="moreActionButton" [anchor]="anchor" [animate]="moreButtonMenuAnimate">
                        <div class="col-md-12" [ngStyle]="{'background-color': appointmentStatusColor}">
                            <div class="row">
                                <div class="lato-Bold text-center un-color_white  font-14 un-AppointmentInfo "> {{rescheduleAppointmentStatus}}</div>
                                <div class="un-closeWhiteIcon k-tooltip-button un-pointer pull-right" (click)="appointmentInfoClose()"></div>
                            </div>
                        </div>


                        <div class="col-md-12 pt-3 ">
                            <div>
                                <span class="fa fa-phone mr-3"></span><span>{{patientMobileNumber}}</span>
                            </div>
                            <div *ngIf="patientPin!=0"><span class="fa fa-birthday-cake mr-3"></span><span>{{patientDateOfBirth|defaultDate}}</span></div>
                            <div *ngIf="patientPin==0" class="mt-2">{{'QueueModule.NewPatient' |translate}}</div>
                            <div class="uv-borderline w-100 " *ngIf="patientPin==0"></div>
                            <div class="mt-2 ">{{patientName | titlecase}}</div>
                            <div class="uv-borderline w-100 " *ngIf="patientName!=0"></div>
                            <div *ngIf="patientPin!=0" class="mt-2 ">{{patientPin}} /{{patientGender | titlecase}} /{{patientDateOfBirth|ageYear}}</div>
                            <div class="uv-borderline w-100 " *ngIf="patientPin!=0"></div>
                            <div class="mt-2 ">{{patientAppointmentType | titlecase}}</div>
                            <div class="uv-borderline w-100 " *ngIf="patientAppointmentType!=0"></div>
                            <div class="mt-2">{{appointmentStartDate|shortTime}} - {{appointmenEndTime|shortTime}}</div>
                            <div class="uv-borderline w-100 " *ngIf="appointmentStartDate!=0"></div>
                            <div class="mt-2 ">{{isInsurance | titlecase}}</div>
                            <div class="uv-borderline w-100 " *ngIf="isInsurance!=0"></div>
                            <div class="mt-2 un-linelimit un-default un-mhi-1" kendoTooltip position="bottom" style="-webkit-box-orient: vertical !important;" title="{{appointmentRemarks | titlecase}}">{{appointmentRemarks | titlecase}}</div>
                            <div class="uv-borderline w-100 pt-1" *ngIf="appointmentRemarks!=0"></div>
                            <div class="mt-2 ">CreatedBy: {{appointmentCreatedBy  | titlecase}}</div>
                            <div class="uv-borderline w-100 " *ngIf="appointmentCreatedBy!=0"></div>
                            <div class="my-2 text-center">
                                <button class="btn btn-primary" *ngIf="patientAppointmentType==='PATIENT'&& beforeRescheduleStatus!=='CVI'&&beforeRescheduleStatus!=='APH' &&beforeRescheduleStatus!=='NSW' && (appointmentStartDate | defaultDate)==(currentDate | defaultDate)" kendoButton (click)="addToQueue(selectedEvent,true)" [disabled]="!enableAddToQueue" title="{{'QueueModule.AddToQueue'|translate}}">{{'QueueModule.AddToQueue'|translate}}</button>
                            </div>
                            <div class="uv-borderline w-100 " *ngIf="patientAppointmentType==='PATIENT'&& beforeRescheduleStatus!=='CVI'&&beforeRescheduleStatus!=='APH' &&beforeRescheduleStatus!=='NSW' && (appointmentStartDate | defaultDate)==(currentDate | defaultDate)"></div>
                            <div class="mt-2 ">
                                <kendo-combobox [hidden]="beforeRescheduleStatus==='CVI'||beforeRescheduleStatus==='APH' ||beforeRescheduleStatus==='NSW'" id="infoButton" [popupSettings]="{popupClass: 'custom'}" [data]="appointmentStatusList" [clearButton]="false" [textField]="'Value2'" [valueField]="'Value1'"
                                                [placeholder]="'AppointmentModule.AppointmentStatus'|translate" [filterable]="false"
                                                (selectionChange)="appointmentStatusValueChange($event)" [(ngModel)]="beforeRescheduleStatus" [valuePrimitive]="true"></kendo-combobox>
                            </div>
                        </div>
                    </kendo-popup>
                    <!--More Action ends here-->
                </div>

                <!--Action Popup starts here-->
                <kendo-popup id="actionButtonPopup" (anchorViewportLeave)="popupclose()" [animate]="moreButtonMenuAnimate" [anchor]="anchor"
                             [popupClass]="'content popup'" [anchorAlign]="anchorAlign" [popupAlign]="popupAlign" class="un-popupwidth"
                             *ngIf="showMoreOption">
                    <div class="container ">
                        <div class="mb-2">
                            <strong class="lato-Bold  font-14">{{'QueueModule.MoreAction'|translate}}</strong>
                            <span class="CloseBtnIcon un-pointer pull-right" (click)="onCloseMoreActionClick()"></span>
                        </div>
                        <div class="" *ngFor="let status of statusList">
                            <div>
                                <div class="un-wrapperdivgrid " (click)="onSelectStatus(status.Value3)">
                                    <div class="row un-pointer mr-1">
                                        <div class="mx-2 un-more-icon" [ngStyle]="{'background-color': (status.String1)}"></div>

                                        <div class="">{{status.Value3}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </kendo-popup>
                <!--Action Popup ends here-->
            </div>

           
            <app-common-alert-dialog *ngIf="showAlertDialog" [commonAlertDialog]="alertDialogData" (valueChange)="onAlertDialogClose($event)"></app-common-alert-dialog>
            <app-common-alert *ngIf="showAlert" [childData]="alertMsg" (valueChange)="onAlertClose($event)" class="{{alertClassName}}"></app-common-alert>
            <app-common-remarks *ngIf="enableRemarksPopUp" [RemarksInput]="remarksInput" (RemarksOutput)="remarksOutputClose($event)"></app-common-remarks>
            <app-appointment-status-report *ngIf="openAppointmentReport" [departmentId]="departmentId" [doctorId]="IsDoctorLogin?doctorId:0" (PrintDialogOutput)="closeAppointmentReport($event)"></app-appointment-status-report>
        </div>
    </div>
  </div>
</div>
